<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/detalle-curso"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Lenguaje y Comunicación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding" color="light">

  <ion-card>
    <ion-card-header>
      <ion-card-title>Semana 1</ion-card-title>
    </ion-card-header>
    <ion-list>
      <ion-item lines="full">
        <ion-icon name="create-outline" slot="start"></ion-icon>
        <ion-label>Clase 1 - Caligrafía</ion-label>
      </ion-item>
      <ion-item lines="full">
        <ion-icon name="book-outline" slot="start"></ion-icon>
        <ion-label>Clase 2 - Comprensión lectora</ion-label>
      </ion-item>
      <ion-item lines="full">
        <ion-icon name="mic-outline" slot="start"></ion-icon>
        <ion-label>Clase 3 - Escucha y habla</ion-label>
      </ion-item>
      <ion-item lines="full">
        <ion-icon name="pencil-outline" slot="start"></ion-icon>
        <ion-label>Clase 4 - Escritura limpia</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-icon name="bulb-outline" slot="start"></ion-icon>
        <ion-label>Clase 5 - Sabiduría plena</ion-label>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Semana 2</ion-card-title>
    </ion-card-header>
    <ion-list>
      <ion-item lines="full">
        <ion-icon name="create-outline" slot="start"></ion-icon>
        <ion-label>Clase 1 - Caligrafía</ion-label>
      </ion-item>
      <ion-item lines="full">
        <ion-icon name="book-outline" slot="start"></ion-icon>
        <ion-label>Clase 2 - Comprensión lectora</ion-label>
      </ion-item>
      <ion-item lines="full">
        <ion-icon name="mic-outline" slot="start"></ion-icon>
        <ion-label>Clase 3 - Escucha y habla</ion-label>
      </ion-item>
      <ion-item lines="full">
        <ion-icon name="pencil-outline" slot="start"></ion-icon>
        <ion-label>Clase 4 - Escritura limpia</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-icon name="bulb-outline" slot="start"></ion-icon>
        <ion-label>Clase 5 - Sabiduría plena</ion-label>
      </ion-item>
    </ion-list>
  </ion-card>

</ion-content>
