<ion-header>
  <ion-toolbar color ="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/detalle-curso"></ion-back-button>
    </ion-buttons>
    <ion-title mode="md" class="ion-text-center">Lenguaje y Comunicacion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding" color="light">
  <ion-card>
    <ion-item-group>
      <ion-item-divider>
        <ion-label>Semana 1</ion-label>
      </ion-item-divider>
    
      <ion-item lines="full">
        <ion-label>Clase 1 - Caligrafia</ion-label>
      </ion-item>
      <ion-item lines="full">
        <ion-label>Clase 2 - Comprecion lectora</ion-label>
      </ion-item>
      <ion-item lines="full">
        <ion-label>Clase 3 - Escucha y habla</ion-label>
      </ion-item>
      <ion-item lines="full">
        <ion-label>Clase 4 - Escritura limpia</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label>Clase 5 - Sabiduria plena</ion-label>
      </ion-item>
    </ion-item-group>
    
    <ion-item-group>
      <ion-item-divider>
        <ion-label>Semana 2</ion-label>
      </ion-item-divider>
    
      <ion-item lines="full">
        <ion-label>Clase 1 - Caligrafia</ion-label>
      </ion-item>
      <ion-item lines="full">
        <ion-label>Clase 2 - Comprecion lectora</ion-label>
      </ion-item>
      <ion-item lines="full">
        <ion-label>Clase 3 - Escucha y habla</ion-label>
      </ion-item>
      <ion-item lines="full">
        <ion-label>Clase 4 - Escritura limpia</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label>Clase 5 - Sabiduria plena</ion-label>
      </ion-item>
    </ion-item-group>
  </ion-card>
</ion-content>
