<ion-header>
  <ion-toolbar color ="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/cursos"></ion-back-button>
    </ion-buttons>
    <ion-title mode="md" class="ion-text-center"> Certificados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light" class="ion-padding">
  <ion-card>
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-subtitle>Certificado de Tecnico profesor</ion-card-subtitle>
    </ion-card-header>
    <ion-button fill="clear"> VisualIzar</ion-button>
    <ion-button fill="clear"> Descargar</ion-button>
  </ion-card>
  <ion-card>
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-subtitle>Certificado de Tecnico en artes</ion-card-subtitle>
    </ion-card-header>
    <ion-button fill="clear"> VisualIzar</ion-button>
    <ion-button fill="clear"> Descargar</ion-button>
  </ion-card>

  <ion-button expand="block" class="ion-padding"> Agregar certificado</ion-button>
</ion-content>
