<ion-header>
  <ion-toolbar color ="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title mode="md" class="ion-text-center">Alumnos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-card>
    <ion-list lines="full">
      <ion-item routerLink="/detalle-alumno" >
        <ion-label>Benjamin Esteban Alarcon Mendez</ion-label>
      </ion-item>
      <ion-item routerLink="/detalle-alumno">
        <ion-label>Bayron Brayan Barra Perez</ion-label>
      </ion-item>
      <ion-item routerLink="/detalle-alumno">
        <ion-label>Claudia Elizabeth Canales Migueles</ion-label>
      </ion-item>
      <ion-item routerLink="/detalle-alumno">
        <ion-label>Camilo Agustin Diesel Torres</ion-label>
      </ion-item>
      <ion-item routerLink="/detalle-alumno">
        <ion-label>Juan Efrain Esteban Zapata</ion-label>
      </ion-item>
      <ion-item routerLink="/detalle-alumno">
        <ion-label>Pablo Hernando Facundo Soto</ion-label>
      </ion-item>
      <ion-item routerLink="/detalle-alumno">
        <ion-label>Javier Ignacio Guerras Gutierres</ion-label>
      </ion-item>
      <ion-item routerLink="/detalle-alumno">
        <ion-label>Joaquin Martin Holanda Burgos</ion-label>
      </ion-item>
      <ion-item routerLink="/detalle-alumno">
        <ion-label>Eduardo Rodrigo Indonesia Toledo</ion-label>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-button expand="block" class="ion-padding" routerLink="nuevo-alumno"> Nuevo Alumno</ion-button>
</ion-content>
  
<ion-footer >
</ion-footer>
