<ion-tabs>
  

  <ion-tab-bar slot="bottom" color="primary">

    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cursos" href="/tabs/cursos">
      <ion-icon name="book-outline"></ion-icon>
      <ion-label>Asignaturas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="calendario" href="/tabs/calendario">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>Calendario</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mas" href="/tabs/mas">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>Más</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>