<ion-header>
  <ion-toolbar color ="primary">
    <ion-title mode="md" class="ion-text-center">Asignaturas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light" class="ion-padding">
  <ion-card routerLink="/detalle-curso">
    <ion-card-header>
      <ion-card-title>Lenguaje y Comunicacion</ion-card-title>
      <ion-card-subtitle>Clases dictadas : 40</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>
  <ion-card routerLink="/detalle-curso">
    <ion-card-header>
      <ion-card-title>Matematicas</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>
  <ion-card routerLink="/detalle-curso">
    <ion-card-header>
      <ion-card-title>Historia y Geografia</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>
  <ion-card routerLink="/detalle-curso">
    <ion-card-header>
      <ion-card-title>Ciencias Naturales</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" class="ion-padding" routerLinkActive="/nueva-asignatura"> Nueva asignatura +</ion-button>
</ion-content>
